body {
    background: url(img/bzzz.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}



/******

Koko sivu

******/



.sivu {
    width: 40%;
    max-width: 100%;
    margin: auto;
    padding: 14px;
    border: 3px solid #318f4a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    font-family: Verdana, serif;
}


.paaotsikko {
    color: #43a35d;
    font-size: 30px;
    text-align: center;
}

.paaotsikko_kirjautuminen {
    color: #43a35d;
    font-size: 20px;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

/******

Havaintolomake

******/



.havaintolomake {
    border: 1px solid #318f4a;
    margin: 6px 0;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}


.havaintolomakkeen_syotteet > * {
    margin-right: 1em;
    margin-top: 0.2em;
}


.havaintolomakkeen_syotteet {
    display: flex;
    justify-content: space-evenly;
}

.havainnon_pvm input {
    width: 70px;
}


.havainnon_aika input {
    width: 40px;
}


/******

Kirjautumislomake

******/



.kirjautumislomake {
    border: 1px solid #318f4a;
    margin: 4px 0;
    padding: 10px;
    justify-content: space-between;
}


.kirjautumislomakkeen_syotteet {
    padding-top: 10px;
    display:  grid;
    grid-gap: 5px;
    grid-template-columns:  25% 1fr;
}


.kayttaja_kentta input {
    width: 70%;
}


.salasana_kentta input {
    width: 70%;
}

.napin_laatikko {
    padding-top: 20px;
    text-align: center;
}

.virhe {
    padding-top: 20px;
    text-align: center;
}

/*
Yhteiset napit
*/

.nappi {
    background-color: #43a35d;
    border-radius: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #318f4a;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.05em;
    color: white;
}

.nappi:hover {
    transform: scale(1.05);
    transition: 0.1s ease-out;
}



/******

Taulukko

******/



table {
    width: 100%;
    background: #D5D5D5;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #318f4a;
    padding: 4px 6px;
}

td {
    text-align: center;
}


.solu_paikalla {
    background: green;
}

.solu_poissa {
    background: red;
}



/******

Päiväkirjaosio

******/

.poista_paivakirjamerkinta {
    text-align: right;
    padding-bottom: 10px;
}

.lisaa_paivakirjamerkinta {

}

.merkintanappi {
    background-color: #43a35d;
    color: white;
    padding: 3px;
    border-radius: 2px;
    font-size: 0.9em;
    border: none;
}

.merkintanappi:hover {
    transform: scale(1.02);
}

.kentta {
    display: none;
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 10px;
}

.tekstikentta {
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.kenttaosio {
    padding-bottom: 20px;
}

.tekstiosion_otsikko {
    color: #318f4a;
}

.tekstiosio {

}

.kuvat {
    max-width:  100%;
}


/******

Mobiilinäkymä

******/

@media(max-width: 576px) {

    .sivu {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .paaotsikko, .paaotsikko_kirjautuminen {
        font-size: 20px;
    }
}