body {
    background: url(img/bzzz.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

/*

Koko sivu

*/

.sivu {
    width: 400px;
    max-width: 100%;
    margin: auto;
    padding: 8px;
    border: 1px solid #000;
    background: #fff;
    opacity: 0.99;
}


    .paaotsikko h1 {
        color: #70ff50;
        font-size: 40px;
        text-align: center;
    }



/*

Lomake

*/

.havaintolomake {
    border: 1px solid #000;
    margin: 4px 0;
    padding: 4px;
    display: flex;
    justify-content: space-between;

}

.kirjautumislomake {
    border: 1px solid #000;
    margin: 4px 0;
    padding: 4px;
    justify-content: space-between;

}


    .havaintolomakkeen_syotteet > * {
        margin-right: 0.5em;
    }


    .havaintolomakkeen_syotteet {
        display: flex;
        justify-content: space-evenly;
    }


        .havainnon_pvm input {
            width: 70px;
        }


        .havainnon_aika input {
            width: 40px;
        }



    .kirjautumislomakkeen_syotteet {
        padding-top: 10px;
        display:  grid;
        grid-gap: 5px;
        grid-template-columns:  25% 1fr;

    }


        .kayttaja_kentta input {
            width: 250px;
        }


        .salasana_kentta input {
            width: 250px;
        }


    .kirjautumistietojen_laheta_nappi {
            padding-top: 20px;
            text-align: center;
    }



/*

Taulukko

*/


table {
    width: 100%;
    background: #ccc;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #000;
    padding: 4px 6px;
}

td {
    text-align: center;
}


    .solu_paikalla {
        background: green;
    }

    .solu_poissa {
        background: red;
    }

.kuvat {
    max-width:  100%;
}


